<div class="container" id="cards">

	<% if @word_type.nil? %>
		<h1>Cards</h1>
	<% else %>
		<h1><%= @word_type.name.capitalize %> Cards</h1>
	<% end %>
	<div class="container">
		<table class="table table-striped table-hover">
			<thead>
				<th>#</th>
				<th><%= current_user.primary_language.name %></th>
				<th><%= current_user.user_languages.last.language.name %></th>
				<th>Word Type</th>
			</thead>
			<tbody>
				<% @cards.each_with_index do |card, index| %>
					<tr>
						<td><%= index %></td>
						<td><%= card.word.name %></td>
						<td><%= card.word.translation %></td>
						<td><%= link_to card.word.word_type.name, word_type_cards_path(word_type_id: card.word.word_type.id) %></td>
					</tr>
				<% end %>
			</tbody>
		</table>

		<div class="new-card-container">
					<% if @word_type.nil? %>
			<%= link_to "Add Card", new_card_path, class: 'btn btn-primary pull-right' %>
		<% else %>
			<%= link_to "Add Card", new_card_path(word_type_id: @word_type.id), class: 'btn btn-primary pull-right' %>
		<% end %>
		</div>

	</div>

<!-- 
	<div class="row">
		<div class="col-md-4">
			<div class="row page-header">
				<div class="col-md-9">
					<h3>Daily Cards</h3>
				</div>

				<div class="col-md-3">
					
				</div>
			</div>
			<div class="list-group">
			  <a href="#" class="list-group-item">
			    <h4 class="list-group-item-heading">Ser - To be</h4>
			    <p class="list-group-item-text">
			    	<span><span class="badge">1
			    	<span class="glyphicon glyphicon-star"></span>
					    </span> Point Achieved</span> 

					    <span class="pull-right">
					    <span class="badge">2</span> 
					    	Points until weekly
					    </span>
					</p>
			  </a>
			  <a href="#" class="list-group-item">
			    <h4 class="list-group-item-heading">Estar - To be</h4>
			     <p class="list-group-item-text">
			    	<span><span class="badge">2
			    	<span class="glyphicon glyphicon-star"></span>
					    </span> Point Achieved</span> 

					    <span class="pull-right">
					    <span class="badge">2</span> 
					    	Points until weekly
					    </span>
					</p>
			  </a>
			  <a href="#" class="list-group-item">
			    <h4 class="list-group-item-heading">Tener - To have</h4>
			     <p class="list-group-item-text">
			    	<span><span class="badge">3
			    	<span class="glyphicon glyphicon-star"></span>
					    </span> Point Achieved</span> 

					    <span class="pull-right">
					    <span class="badge">1</span> 
					    	Points until weekly
					    </span>
					</p>
			  </a>
			  <a href="#" class="list-group-item">
			    <h4 class="list-group-item-heading">Tocar - To touch</h4>
			    			     <p class="list-group-item-text">
			    	<span><span class="badge">4
			    	<span class="glyphicon glyphicon-star"></span>
					    </span> Point Achieved</span> 

					    <span class="pull-right">
					    <span class="badge">3</span> 
					    	Points until weekly
					    </span>
					</p>
			  </a>
			  <a href="#" class="list-group-item">
			    <h4 class="list-group-item-heading">Jugar - To play</h4>
			    			     <p class="list-group-item-text">
			    	<span><span class="badge">3
			    	<span class="glyphicon glyphicon-star"></span>
					    </span> Point Achieved</span> 

					    <span class="pull-right">
					    <span class="badge">5</span> 
					    	Points until weekly
					    </span>
					</p>
			  </a>
			</div>
		</div>


		<div class="col-md-4">
			<div class="row page-header">
				<div class="col-md-9">
					<h3>Weekly Cards</h3>
				</div>
			</div>
			<div class="list-group">
			  <a href="#" class="list-group-item">
			    <h4 class="list-group-item-heading">Ser - To be</h4>
			    <p class="list-group-item-text">
			    	<span><span class="badge">1
			    	<span class="glyphicon glyphicon-star"></span>
					    </span> Point Achieved</span> 

					    <span class="pull-right">
					    <span class="badge">2</span> 
					    	Points until weekly
					    </span>
					</p>
			  </a>
			  <a href="#" class="list-group-item">
			    <h4 class="list-group-item-heading">Estar - To be</h4>
			     <p class="list-group-item-text">
			    	<span><span class="badge">2
			    	<span class="glyphicon glyphicon-star"></span>
					    </span> Point Achieved</span> 

					    <span class="pull-right">
					    <span class="badge">2</span> 
					    	Points until weekly
					    </span>
					</p>
			  </a>
			  <a href="#" class="list-group-item">
			    <h4 class="list-group-item-heading">Tener - To have</h4>
			     <p class="list-group-item-text">
			    	<span><span class="badge">3
			    	<span class="glyphicon glyphicon-star"></span>
					    </span> Point Achieved</span> 

					    <span class="pull-right">
					    <span class="badge">1</span> 
					    	Points until weekly
					    </span>
					</p>
			  </a>
			  <a href="#" class="list-group-item">
			    <h4 class="list-group-item-heading">Tocar - To touch</h4>
			    			     <p class="list-group-item-text">
			    	<span><span class="badge">4
			    	<span class="glyphicon glyphicon-star"></span>
					    </span> Point Achieved</span> 

					    <span class="pull-right">
					    <span class="badge">3</span> 
					    	Points until weekly
					    </span>
					</p>
			  </a>
			  <a href="#" class="list-group-item">
			    <h4 class="list-group-item-heading">Jugar - To play</h4>
			    			     <p class="list-group-item-text">
			    	<span><span class="badge">3
			    	<span class="glyphicon glyphicon-star"></span>
					    </span> Point Achieved</span> 

					    <span class="pull-right">
					    <span class="badge">5</span> 
					    	Points until weekly
					    </span>
					</p>
			  </a>
			</div>
		</div>


		<div class="col-md-4">
			<div class="row page-header">
				<div class="col-md-9">
					<h3>Monthly Cards</h3>
				</div>
			</div>
			<div class="list-group">
			  <a href="#" class="list-group-item">
			    <h4 class="list-group-item-heading">Ser - To be</h4>
			    <p class="list-group-item-text">
			    	<span><span class="badge">1
			    	<span class="glyphicon glyphicon-star"></span>
					    </span> Point Achieved</span> 

					    <span class="pull-right">
					    <span class="badge">2</span> 
					    	Points until weekly
					    </span>
					</p>
			  </a>
			  <a href="#" class="list-group-item">
			    <h4 class="list-group-item-heading">Estar - To be</h4>
			     <p class="list-group-item-text">
			    	<span><span class="badge">2
			    	<span class="glyphicon glyphicon-star"></span>
					    </span> Point Achieved</span> 

					    <span class="pull-right">
					    <span class="badge">2</span> 
					    	Points until weekly
					    </span>
					</p>
			  </a>
			  <a href="#" class="list-group-item">
			    <h4 class="list-group-item-heading">Tener - To have</h4>
			     <p class="list-group-item-text">
			    	<span><span class="badge">3
			    	<span class="glyphicon glyphicon-star"></span>
					    </span> Point Achieved</span> 

					    <span class="pull-right">
					    <span class="badge">1</span> 
					    	Points until weekly
					    </span>
					</p>
			  </a>
			  <a href="#" class="list-group-item">
			    <h4 class="list-group-item-heading">Tocar - To touch</h4>
			    			     <p class="list-group-item-text">
			    	<span><span class="badge">4
			    	<span class="glyphicon glyphicon-star"></span>
					    </span> Point Achieved</span> 

					    <span class="pull-right">
					    <span class="badge">3</span> 
					    	Points until weekly
					    </span>
					</p>
			  </a>
			  <a href="#" class="list-group-item">
			    <h4 class="list-group-item-heading">Jugar - To play</h4>
			    			     <p class="list-group-item-text">
			    	<span><span class="badge">3
			    	<span class="glyphicon glyphicon-star"></span>
					    </span> Point Achieved</span> 

					    <span class="pull-right">
					    <span class="badge">5</span> 
					    	Points until weekly
					    </span>
					</p>
			  </a>
			</div>
		</div>

	</div>

</div> -->