
<div class="container">
	<%= form_for(@card) do |f| %>
		<%= f.label :name %>
		<%= f.text_field :name, class: 'form-control' %>

		<%= f.label :translation %>
		<%= f.text_field :translation, class: 'form-control' %>

		<%= f.label :word_type %>
		<%= f.text_field :word_type, class: 'form-control' %>

		<%= f.submit "Add card", class: "btn btn-primary pull-right extra-top-2" %>
	<% end %>
</div>
