<!DOCTYPE html>
<html>
<head>
  <title>Lingo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

		<% if user_signed_in? %>
			<%= render "layouts/app_nav" %>
		<% else %>
			<%= render "layouts/static_nav" %>
		<% end %>


	 <!-- <p class="notice"><%= notice %></p>
     <p class="alert"><%= alert %></p> -->

	<div id="wrap">
		<%= yield %>
	</div>

	<div class="modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Card</h4>
				</div>
				<div class="modal-body">hello</div>
				<div class="modal-footer"></div>
			</div>
		</div>
	</div>

</body>
</html>
